<% unless @post.comments.empty? %>

    <div id="post_comments">
      <strong>Комментарии:</strong>
      <hr>
      <ul class="list-unstyled">
		<% @post.comments.each do |c| %>
			<li>
				<blockquote><small><%= c.body %></small></blockquote>
				<small><strong>By: <%= c.user.email %></strong> 
				<cite><%= c.created_at.strftime("%d %b %Y at %H:%M") %>
				<% if current_user && current_user.admin? %>
					<%= link_to 'Редактировать комментарий', edit_admin_comment_path(c), class: "btn btn-link" %> |
					<%= link_to 'Удалить комментарий', admin_comment_path(c), method: "delete", data: { confirm: "Вы уверены, что хотите удалить этот комментарий?" },  class: "btn btn-link" %></cite></small>
				<% end %>
				<hr>
			</li>
		<% end %>
	  </ul>
	</div>
<% else %>
		<p>Комментариев пока нет. Оставьте комментарий первым.</p>
<% end %>