
<% if @category %>
  <h4><strong>Категория: </strong><cite><%= @category.title %></cite></h4>
<% else %>
  <h2>Все посты</h2>
<% end %>

<% if @posts.empty? %>
    <hr>
    <%= link_to 'Здесь постов пока еще нет(((( Вы можете стать автором первого поста...', new_post_path, class: "btn btn-link" %>
    <hr>
  <% else %>
    <hr>
    <%= link_to 'Создать новый пост...', new_admin_post_path, class: "btn btn-link" %>
    <hr>
<% end %>

<%= render "posts" %>


<br>

<%= link_to_admin_level '<<< На Главную - Dashboard', admin_welcome_index_path, class: "btn btn-default" %>
<hr>