<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <strong>Select category:</strong>
    <ul>
      <%= f.fields_for :categories do |category_fields| %>
      <% @categories.each do |category| %>
        <%= category_fields.check_box(category.id) %>
        <%= label_tag(:category_id, category.title) %>
      <% end %>
      <% end %>

    </ul>
  </div>
  <div class="field">
    <strong>Select tags:</strong>
    <ul>
      <%= f.fields_for :tags do |tag_fields| %>
      <% @tags.each do |tag| %>
        <%= tag_fields.check_box(tag.id) %>
        <%= label_tag(:tag_id, tag.name) %>
      <% end %>
      <% end %>

    </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
