<%= form_for(@post) do |f| %>

  <%= render "common/errors", object: @post %>

  <div class="field">
    <%= f.label :title, 'Название поста:' %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :body, 'Текст поста:' %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :tag_ids, 'Выберите теги:' %>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, {}, { :multiple => true, :class => "form-control" } %>
  </div>

  <div class="field well">
    <%= f.label :category_ids, 'Выберите категорию:' %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :title, {}, { class: "checkbox" } %>
  </div>
  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, { :value => current_user.id } %>
  <% end %>
  <div class="actions">
    <%= f.submit :class =>"btn btn-primary btn-sm" %>
  </div>
<% end %>
