
<% if @category %>
  <h4><strong>Категория: </strong><cite><%= @category.title %></cite></h4>
<% else %>
  <h2>Все посты</h2>
<% end %>

<% if @posts.empty? %>
    <hr>
    <%= link_to 'Здесь постов пока еще нет(((( Вы можете стать автором первого поста...', new_post_path, class: "btn btn-link" %>
    <hr>
  <% else %>
    <hr>
    <%= link_to 'Здесь может находиться Ваш пост...', new_post_path, class: "btn btn-link" %>
    <hr>
<% end %>

<% @posts.each do |post| %>
  <% title = "<h4><strong>#{post.title}</strong></h4>".html_safe %>
  <h2><%= link_to title, post, class: "btn btn-link" %></h2>
  <div class="well">
    <p>
      <small><cite><%= post.created_at.strftime("%-d %b %Y %H:%M") %></cite></small>
    </p>
    <p>
      <small><strong>By: TODO: here should be the user-name later....</strong></small>
    </p>
    
    <p><%= raw post.body.truncate(150) %></p>
    <p><%= link_to 'Читать далее...', post, class: "btn btn-default btn-xs" %></p>
  </div>
    <hr>
<% end %>


<br>

<%= link_to '<<< Назад на Главную страницу', welcome_index_path, class: "btn btn-default" %>
<hr>