
<p>
  <strong><h4><%= @post.title %></h4></strong>
  
</p>

<p>
  <strong>By:</strong>
  <span>TODO: here should be the user-name later....</span>
</p>

<p>
	<strong>Категории:</strong>
	<em><%= @post.categories.map{|el| el.title }.join(", ") %></em>
</p>

<p>
	<ul class="list-inline">
		<li><strong>Tags:</strong></li>
		<% @post.tags.each do |tag| %>
			<li class="btn btn-default btn-xs">#<%= tag.name %></li>
		<% end %>
	</ul>
</p>

<div class="well">
  <%= raw @post.body %>
</div>

<%= render "comments/form" %>
<%= render "comments/comments", post: @post %>

<hr>
<%= link_to 'Редактировать пост', edit_post_path(@post), class: "btn btn-link" %> |
<%= link_to 'Назад к списку постов', posts_path, class: "btn btn-link" %>
<hr>
