<%= form_for(@category) do |c| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= c.label :title %><br>
    <%= c.text_field :title %>
  </div>
  <div class="actions">
    <%= c.submit %>
  </div>
<% end %>