<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.title %>
</p>
<div>
	<strong>Posts for this category (only titles):</strong>
	<ul>
		<% @category.posts.each do |post| %>
			<li><%= post.title %> </li>
		<% end %>
	</ul>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back to Categories', categories_path %>
