<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
		<p><strong>Nickname: </strong></p>
		<p><strong>E-mail: </strong></p>
		<p><strong>Created at: </strong></p>
		<p><strong>Updated at: </strong></p>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
		<p>None </p>
		<p><%= @user.email %></p>
		<p><%= @user.created_at.strftime("%-d %b %Y %H:%M") %></p>
		<p><%= @user.updated_at.strftime("%-d %b %Y %H:%M") %></p>
	</div>
</div>
<% unless @user.subscribed_posts.empty? %>
	<hr>
	<p><cite>
		<strong>Subscribed at the posts: </strong>
		<%= @user.subscribed_posts.map {|post| "'#{post.title}'"}.join(",") %>
	</cite></p> 
<% end %>
<hr>

<% if current_user && current_user.admin? %>
	<%= link_to 'Редактировать данные пользователя', edit_admin_user_path(@user), class: "btn btn-link" %> |
	<%= link_to 'Удалить пользователя', admin_user_path(@user), method: "delete", data: { confirm: "Вы уверены, что хотите удалить этого пользователя?" },  class: "btn btn-link" %></br>
	<hr>
<% end %>
<%= link_to 'Назад к списку пользователей', admin_users_path, class: "btn btn-link" %>
<hr>